openapi: 3.0.3
info:
  title: SIGE-UBE — Resumen Académico del Estudiante Representado
  version: 1.0.0
  description: |
    Endpoint para que un representante legal consulte el resumen consolidado de métricas académicas (materias activas, porcentaje de asistencia, actividades pendientes, matrícula y periodo) de un estudiante representado.
    Verifica parentesco mediante el permiso del sistema.

servers:
  - url: https://sige.innotech-solutions.com.ec/api/v1.0.0
    description: Staging (datos sintéticos)
  - url: http://localhost:8000/api/v1.0.0
    description: Servidor Local

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    XPeriodIDHeader:
      name: X-Period-ID
      in: header
      required: true
      description: ID del periodo lectivo (tabla `periodo`, NO `periodolectivo`).
      schema:
        type: integer
        example: 6

    StudentIDPath:
      name: student_id
      in: path
      required: true
      description: ID del estudiante representado a consultar.
      schema:
        type: integer
        example: 4412

  schemas:
    Sobre:
      type: object
      required: [isSuccess, message]
      properties:
        isSuccess:
          type: boolean
          example: true
        message:
          type: string
          nullable: true
          example: "Resumen académico recuperado con éxito."

    MatriculaInfo:
      type: object
      required: [id, level, level_alias, parallel]
      properties:
        id:
          type: integer
          example: 9876
        level:
          type: string
          example: "OCTAVO AÑO DE EDUCACIÓN GENERAL BÁSICA"
        level_alias:
          type: string
          example: "8vo EGB"
        parallel:
          type: string
          example: "A"

    PeriodoDetalle:
      type: object
      required: [id, name]
      properties:
        id:
          type: integer
          example: 6
        name:
          type: string
          example: "PERIODO LECTIVO 2024 - 2025"

    RepresentativeStudentSummaryData:
      type: object
      required: [total_subjects, attendance_percentage, pending_activities, enrollment, period]
      properties:
        total_subjects:
          type: integer
          example: 8
          description: Total de materias activas del estudiante en el periodo.
        attendance_percentage:
          type: number
          format: float
          example: 95.5
          description: Porcentaje de asistencia general acumulado (0 a 100).
        pending_activities:
          type: integer
          example: 3
          description: Número de actividades o tareas pendientes de entrega.
        enrollment:
          $ref: '#/components/schemas/MatriculaInfo'
        period:
          $ref: '#/components/schemas/PeriodoDetalle'

    RespuestaRepresentativeStudentSummary:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          required: [data]
          properties:
            data:
              $ref: '#/components/schemas/RepresentativeStudentSummaryData'

    RespuestaError:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          properties:
            errors:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string

paths:
  /representative/students/{student_id}/summary/:
    get:
      summary: Consulta el resumen académico del estudiante representado.
      description: |
        Devuelve métricas consolidadas (materias, asistencia, tareas pendientes, matrícula y periodo) para la pantalla de inicio del representante.
        Exige autenticación por JWT Bearer y verificación de parentesco activo.
      operationId: consultarResumenEstudianteRepresentado
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/StudentIDPath'
        - $ref: '#/components/parameters/XPeriodIDHeader'
      responses:
        '200':
          description: Resumen académico recuperado con éxito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespuestaRepresentativeStudentSummary'
        '400':
          description: Header X-Period-ID faltante o formato inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespuestaError'
        '401':
          description: No autenticado o token vencido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespuestaError'
        '403':
          description: El usuario autenticado no representa al estudiante especificado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespuestaError'
        '404':
          description: El estudiante no cuenta con matrícula en el periodo indicado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespuestaError'
