openapi: 3.0.3
info:
  title: SIGE-UBE — Asistencia de Estudiante Representado
  version: 1.0.0
  description: |
    Endpoint para que un representante obtenga el reporte de asistencia de un estudiante a su cargo.

    **El sobre de respuesta es siempre el mismo:**
    `{"isSuccess": true, "message": "Asistencia recuperada con éxito.", "data": {}}`

servers:
  - url: https://sige.innotech-solutions.com.ec/api/v1.0.0
    description: Staging (datos sintéticos)
  - url: http://localhost:8000/api/v1.0.0
    description: Servidor Local

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    XPeriodIDHeader:
      name: X-Period-ID
      in: header
      required: true
      description: ID del periodo académico.
      schema:
        type: integer
        example: 6

    StudentIDPath:
      name: student_id
      in: path
      required: true
      description: ID del estudiante representado.
      schema:
        type: integer
        example: 4412

  schemas:
    Sobre:
      type: object
      required: [isSuccess, message]
      properties:
        isSuccess: { type: boolean, example: true }
        message: { type: string, nullable: true, example: "Asistencia recuperada con éxito." }

    AsistenciaEstadisticas:
      type: object
      required: [attended, justified, pending, absent, total, percentage]
      properties:
        attended: { type: integer, example: 35 }
        justified: { type: integer, example: 2 }
        pending: { type: integer, example: 1 }
        absent: { type: integer, example: 2 }
        total: { type: integer, example: 40 }
        percentage: { type: number, format: float, example: 92.5 }

    MateriaAsistencia:
      type: object
      required: [cronograma_id, name, by_hours, by_days, status]
      properties:
        cronograma_id: { type: integer, example: 101 }
        name: { type: string, example: "LENGUA Y LITERATURA" }
        by_hours: { $ref: '#/components/schemas/AsistenciaEstadisticas' }
        by_days: { $ref: '#/components/schemas/AsistenciaEstadisticas' }
        status: { type: string, example: "excelente" }

    AsistenciaEstudianteData:
      type: object
      required: [subjects]
      properties:
        subjects:
          type: array
          items: { $ref: '#/components/schemas/MateriaAsistencia' }

    RespuestaAsistenciaEstudiante:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          required: [data]
          properties:
            data: { $ref: '#/components/schemas/AsistenciaEstudianteData' }

    RespuestaError:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          properties:
            errors:
              type: object
              additionalProperties:
                type: array
                items: { type: string }

paths:
  /movil/representative/students/{student_id}/attendance/:
    get:
      summary: Asistencia de un estudiante representado
      description: |
        Devuelve el consolidado de asistencia de un estudiante.
        Requiere que el usuario autenticado sea representante del estudiante indicado.
      operationId: obtenerAsistenciaEstudianteRepresentado
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/StudentIDPath'
        - $ref: '#/components/parameters/XPeriodIDHeader'
      responses:
        '200':
          description: Asistencia obtenida exitosamente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaAsistenciaEstudiante' }
        '400':
          description: Header X-Period-ID faltante o inválido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '401':
          description: No autenticado o token expirado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '403':
          description: El usuario autenticado no representa a este estudiante
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '404':
          description: Asistencia no encontrada para el estudiante
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '500':
          description: Error del servidor
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
