openapi: 3.0.3
info:
  title: SIGE-UBE — Reporte de Asistencia del Estudiante
  version: 1.0.0
  description: |
    Endpoint para consultar el reporte detallado de asistencias por asignatura, horas y días.

    **El sobre de respuesta es siempre el mismo:**
    `{"isSuccess": true, "message": null, "data": {}}`

servers:
  - url: https://sige.innotech-solutions.com.ec/api/v1.0.0
    description: Staging (datos sintéticos)
  - url: http://localhost:8000/api/v1.0.0
    description: Servidor Local

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    XPeriodIDHeader:
      name: X-Period-ID
      in: header
      required: true
      description: ID del periodo académico.
      schema:
        type: integer
        example: 1

  schemas:
    Sobre:
      type: object
      required: [isSuccess, message]
      properties:
        isSuccess: { type: boolean, example: true }
        message: { type: string, nullable: true, example: null }

    EstudianteBase:
      type: object
      required: [id, full_name]
      properties:
        id: { type: integer, example: 123 }
        full_name: { type: string, example: "Juan Pérez" }

    PeriodoBase:
      type: object
      required: [id, name]
      properties:
        id: { type: integer, example: 1 }
        name: { type: string, example: "2025-2026" }

    AsistenciaMetrica:
      type: object
      required: [attended, justified, pending, absent, total, percentage]
      properties:
        attended: { type: integer, example: 45 }
        justified: { type: integer, example: 3 }
        pending: { type: integer, example: 0 }
        absent: { type: integer, example: 2 }
        total: { type: integer, example: 50 }
        percentage: { type: number, format: float, example: 96.0 }

    MateriaAsistenciaItem:
      type: object
      required: [materia_asignada_id, subject_id, cronograma_id, name, by_hours, by_days, status]
      properties:
        materia_asignada_id: { type: integer, example: 456 }
        subject_id: { type: integer, example: 789 }
        cronograma_id: { type: integer, nullable: true, example: 10 }
        name: { type: string, example: "LENGUA Y LITERATURA" }
        by_hours: { $ref: '#/components/schemas/AsistenciaMetrica' }
        by_days: { $ref: '#/components/schemas/AsistenciaMetrica' }
        status: { type: string, enum: [sin_datos, excelente, buena, regular, baja], example: "excelente" }

    StudentAttendanceData:
      type: object
      required: [student, period, subjects]
      properties:
        student: { $ref: '#/components/schemas/EstudianteBase' }
        period: { $ref: '#/components/schemas/PeriodoBase' }
        subjects:
          type: array
          items: { $ref: '#/components/schemas/MateriaAsistenciaItem' }

    RespuestaStudentAttendance:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          required: [data]
          properties:
            data: { $ref: '#/components/schemas/StudentAttendanceData' }

    RespuestaError:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          properties:
            errors:
              type: object
              additionalProperties:
                type: array
                items: { type: string }

paths:
  /student/attendance/report/:
    get:
      summary: Reporte de asistencia del estudiante
      description: |
        Retorna las métricas de asistencia acumuladas (por horas y por días) de todas las asignaturas del estudiante.
      operationId: obtenerReporteAsistencia
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPeriodIDHeader'
      responses:
        '200':
          description: Reporte de asistencia obtenido exitosamente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaStudentAttendance' }
        '400':
          description: Header X-Period-ID faltante
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '401':
          description: No autenticado o token expirado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '403':
          description: Sin acceso al periodo seleccionado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '404':
          description: No existe matrícula para el estudiante
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
