openapi: 3.0.3
info:
  title: SIGE-UBE — Asignaturas del Estudiante
  version: 1.0.0
  description: |
    Endpoint que retorna la lista de asignaturas matriculadas por el estudiante en el periodo seleccionado.

    **El sobre de respuesta es siempre el mismo:**
    `{"isSuccess": true, "message": null, "data": {}}`

servers:
  - url: https://sige.innotech-solutions.com.ec/api/v1.0.0
    description: Staging (datos sintéticos)
  - url: http://localhost:8000/api/v1.0.0
    description: Servidor Local

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    XPeriodIDHeader:
      name: X-Period-ID
      in: header
      required: true
      description: ID del periodo lectivo (tabla `periodo`, NO `periodolectivo`).
      schema:
        type: integer
        example: 6

  schemas:
    Sobre:
      type: object
      required: [isSuccess, message]
      properties:
        isSuccess: { type: boolean, example: true }
        message: { type: string, nullable: true, example: null }

    ProfesorInfo:
      type: object
      required: [id, full_name, avatar_url]
      properties:
        id: { type: integer, example: 123 }
        full_name: { type: string, example: "JUAN PÉREZ LÓPEZ" }
        avatar_url: { type: string, nullable: true, example: "/media/fotos/profesor_123.jpg" }

    ModeloEvaluativoInfo:
      type: object
      required: [is_quantitative]
      properties:
        is_quantitative: { type: boolean, example: true }

    AsignaturaItem:
      type: object
      required: [id, subject_name, level, parallel, classroom, attendance_percentage, is_complementary, teacher, grades_visible, pending_activities_count, final_grade, final_grade_letter, evaluation_model]
      properties:
        id: { type: integer, example: 59327, description: "ID de la MateriaAsignada" }
        subject_name: { type: string, example: "MATEMÁTICAS" }
        level: { type: string, example: "8vo EGB" }
        parallel: { type: string, example: "A" }
        classroom: { type: string, example: "Aula 101" }
        attendance_percentage: { type: number, format: float, example: 95.5 }
        is_complementary: { type: boolean, example: false }
        teacher: { $ref: '#/components/schemas/ProfesorInfo', nullable: true }
        grades_visible: { type: boolean, example: true }
        pending_activities_count: { type: integer, example: 2 }
        final_grade: { type: number, format: float, nullable: true, example: 8.75 }
        final_grade_letter: { type: string, nullable: true, example: null }
        evaluation_model: { $ref: '#/components/schemas/ModeloEvaluativoInfo', nullable: true }

    PeriodoInfo:
      type: object
      required: [id, name]
      properties:
        id: { type: integer, example: 6 }
        name: { type: string, example: "2024-2025" }

    StudentSubjectsData:
      type: object
      required: [subjects, period, total_subjects]
      properties:
        subjects:
          type: array
          items: { $ref: '#/components/schemas/AsignaturaItem' }
        period: { $ref: '#/components/schemas/PeriodoInfo' }
        total_subjects: { type: integer, example: 2 }

    RespuestaStudentSubjects:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          required: [data]
          properties:
            data: { $ref: '#/components/schemas/StudentSubjectsData' }

    RespuestaError:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          properties:
            errors:
              type: object
              additionalProperties:
                type: array
                items: { type: string }

paths:
  /student/subjects/:
    get:
      summary: Lista de asignaturas del estudiante
      description: |
        Retorna las materias matriculadas por el estudiante en el periodo seleccionado, incluyendo profesor, porcentaje de asistencia en tiempo real y tareas pendientes.
      operationId: obtenerAsignaturasEstudiante
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XPeriodIDHeader'
      responses:
        '200':
          description: Lista de asignaturas obtenida exitosamente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaStudentSubjects' }
        '400':
          description: Header X-Period-ID requerido o no numérico
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '401':
          description: No autenticado o token expirado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '403':
          description: Perfil de persona/estudiante no encontrado o periodo inválido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '500':
          description: Error interno al obtener las materias
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
