openapi: 3.0.3
info:
  title: SIGE-UBE — Calificaciones de Asignatura
  version: 1.0.0
  description: |
    Endpoint para obtener la estructura jerárquica detallada de calificaciones por materia.

    **El sobre de respuesta es siempre el mismo:**
    `{"isSuccess": true, "message": null, "data": {}}`

servers:
  - url: https://sige.innotech-solutions.com.ec/api/v1.0.0
    description: Staging (datos sintéticos)
  - url: http://localhost:8000/api/v1.0.0
    description: Servidor Local

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    XPeriodIDHeader:
      name: X-Period-ID
      in: header
      required: true
      description: ID del periodo académico.
      schema:
        type: integer
        example: 1

    MateriaAsignadaIDPath:
      name: materia_asignada_id
      in: path
      required: true
      description: ID de la materia asignada al estudiante.
      schema:
        type: integer
        example: 123

  schemas:
    Sobre:
      type: object
      required: [isSuccess, message]
      properties:
        isSuccess: { type: boolean, example: true }
        message: { type: string, nullable: true, example: null }

    MateriaDetalle:
      type: object
      required: [id, name, level, parallel, start_date, end_date, total_weeks, pending_activities]
      properties:
        id: { type: integer, example: 123 }
        name: { type: string, example: "Matemáticas" }
        level: { type: string, example: "1ro BGU" }
        parallel: { type: string, example: "A" }
        start_date: { type: string, format: date, nullable: true, example: "2025-09-01" }
        end_date: { type: string, format: date, nullable: true, example: "2026-06-30" }
        total_weeks: { type: integer, example: 40 }
        pending_activities: { type: integer, example: 5 }

    TipoActividad:
      type: object
      required: [id, name, icon_url]
      properties:
        id: { type: integer, nullable: true, example: 1 }
        name: { type: string, example: "Tarea" }
        icon_url: { type: string, nullable: true, example: "http://localhost:8000/static/icons/tarea.png" }

    ActividadDetalle:
      type: object
      required: [id, name, type, grade, grade_letter, grading_status]
      properties:
        id: { type: integer, example: 100 }
        name: { type: string, example: "Tarea 1 - Ecuaciones" }
        type: { $ref: '#/components/schemas/TipoActividad' }
        grade: { type: number, format: float, nullable: true, example: 9.5 }
        grade_letter: { type: string, nullable: true, example: null }
        grading_status: { type: string, enum: [graded, pending], example: "graded" }

    CategoriaDetalle:
      type: object
      required: [id, name, percentage, grade, grade_letter, activities]
      properties:
        id: { type: integer, example: 30 }
        name: { type: string, example: "Tareas" }
        percentage: { type: number, format: float, example: 40 }
        grade: { type: number, format: float, nullable: true, example: 9.0 }
        grade_letter: { type: string, nullable: true, example: null }
        activities:
          type: array
          items: { $ref: '#/components/schemas/ActividadDetalle' }

    ParcialDetalle:
      type: object
      required: [id, name, percentage, grade, grade_letter, categories]
      properties:
        id: { type: integer, example: 20 }
        name: { type: string, example: "Parcial 1" }
        percentage: { type: number, format: float, example: 33.33 }
        grade: { type: number, format: float, nullable: true, example: 8.5 }
        grade_letter: { type: string, nullable: true, example: null }
        categories:
          type: array
          items: { $ref: '#/components/schemas/CategoriaDetalle' }

    ItemEvaluativo:
      type: object
      required: [id, name, alias, max_score, total_percentage, grade, grade_letter, grading_books]
      properties:
        id: { type: integer, example: 10 }
        name: { type: string, example: "1er Quimestre" }
        alias: { type: string, example: "Q1" }
        max_score: { type: number, format: float, example: 10 }
        total_percentage: { type: number, format: float, example: 50 }
        grade: { type: number, format: float, nullable: true, example: 8.75 }
        grade_letter: { type: string, nullable: true, example: null }
        grading_books:
          type: array
          items: { $ref: '#/components/schemas/ParcialDetalle' }

    ModeloEvaluativoDetalle:
      type: object
      required: [id, name, is_quantitative, items]
      properties:
        id: { type: integer, example: 1 }
        name: { type: string, example: "Modelo Evaluativo Bachillerato" }
        is_quantitative: { type: boolean, example: true }
        items:
          type: array
          items: { $ref: '#/components/schemas/ItemEvaluativo' }

    EstadoMateria:
      type: object
      required: [code, label, severity]
      properties:
        code: { type: string, enum: [approved, pending, failed], example: "approved" }
        label: { type: string, example: "Aprobado" }
        severity: { type: string, enum: [success, warning, danger], example: "success" }

    MensajeInformativo:
      type: object
      required: [title, description]
      properties:
        title: { type: string, example: "Calificaciones no disponibles" }
        description: { type: string, example: "Las calificaciones no están habilitadas para visualización en este periodo." }

    SubjectGradesData:
      type: object
      required: [subject, evaluation_model, final_grade, final_grade_letter, status, grades_visible, grades_blocked, block_message, info_message]
      properties:
        subject: { $ref: '#/components/schemas/MateriaDetalle' }
        evaluation_model: { $ref: '#/components/schemas/ModeloEvaluativoDetalle', nullable: true }
        final_grade: { type: number, format: float, nullable: true, example: 8.25 }
        final_grade_letter: { type: string, nullable: true, example: null }
        status: { $ref: '#/components/schemas/EstadoMateria', nullable: true }
        grades_visible: { type: boolean, example: true }
        grades_blocked: { type: boolean, example: false }
        block_message: { $ref: '#/components/schemas/MensajeInformativo', nullable: true }
        info_message: { $ref: '#/components/schemas/MensajeInformativo', nullable: true }

    RespuestaSubjectGrades:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          required: [data]
          properties:
            data: { $ref: '#/components/schemas/SubjectGradesData' }

    RespuestaError:
      allOf:
        - $ref: '#/components/schemas/Sobre'
        - type: object
          properties:
            errors:
              type: object
              additionalProperties:
                type: array
                items: { type: string }

paths:
  /student/subjects/{materia_asignada_id}/grades/:
    get:
      summary: Calificaciones detalladas de una materia
      description: |
        Retorna la estructura jerárquica completa de calificaciones (Quimestres -> Parciales -> Categorías -> Actividades) de un estudiante para la asignatura especificada.
      operationId: obtenerCalificacionesAsignatura
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MateriaAsignadaIDPath'
        - $ref: '#/components/parameters/XPeriodIDHeader'
      responses:
        '200':
          description: Calificaciones de la asignatura obtenidas exitosamente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaSubjectGrades' }
        '400':
          description: Header X-Period-ID faltante o invalido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '401':
          description: No autenticado o token expirado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '403':
          description: Periodo invalido o sin permisos
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '404':
          description: Materia no encontrada o sin acceso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
        '500':
          description: Error al obtener calificaciones
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RespuestaError' }
